@import "../../css/variables";

.tomar-examen {
  background-color: $neutral-100;

  h1.page-title {
    color: $primary-500;
  }

  div.examen-wrapper {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 80px;

    .pregunta-header {
      padding-bottom: 20px;
      font-size: $header-3;
      color: $primary-600;
    }

    .pregunta-row {
      display: grid;
      gap: 20px;
      grid-template-columns: 70% auto;
      color: $neutral-900;
      
      .pregunta-body-wrapper {
        font-size: $general;
      }
      
      input[type="checkbox"] {
        width: 100px;
      }
      
      .checkbox-label {
        font-size: $header-2;
      }
    }
    
    .button-wrapper {
      padding-top: 40px;
    }
  }
}
